<div class="app-container">

    <h2 id="app-name"><u>Speak Bot</u></h2>
  
  
    <textarea 
      id="chatResponse"
      placeholder="Response will show up here..." 
      type="text" 
      [value]="chatGPTResponse" 
    ></textarea>
    <img id="microphone-gif" *ngIf="isListeningInProgress; else notListening" src="../assets/micorphone.gif"/>
  
  
    <ng-template #notListening>
      <p>{{ listenedMsg ? 'Prompt: ' + listenedMsg : "Hit 'Speak' button and say your prompt loud and clear.." }}</p>
    </ng-template>
    
    <div class="btn-grp">
      <button mat-flat-button color="accent" (click)="askYourQuestion()">Speak</button>    
      <button mat-flat-button color="primary" (click)="stopSpeaking()">Stop</button>
      <button mat-flat-button color="primary" (click)="openDialog()">OpenAI Token</button>
    </div>
  </div>
  
  
  